<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectld">

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".menu"
        android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exercise3.easy.ex3_easy_game"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".exercise3.nomal.ex3_nomal_game"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".exercise3.easy.ex3_easy_menu" />
        <activity android:name=".exercise3.nomal.ex3_nomal_menu" />
        <activity android:name=".exercise3.hard.ex3_hard_menu" />
        <activity android:name=".exercise3.hard.ex3_hard_game"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".exercise3.st_easy.st_ex3_easy_inMenu" />
        <activity android:name=".exercise3.st_easy.grid_view_ex3_st_easy_selectWord" />
        <activity android:name=".exercise3.st_easy.st_ex3_easy_menu" />
        <activity android:name=".exercise3.easy.ex3_easy_game_st"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".exercise3.st_nomal.st_ex3_normal_menu" />
        <activity android:name=".exercise3.st_nomal.grid_view_ex3_st_normal_selectWord" />
        <activity android:name=".exercise3.st_nomal.st_ex3_normal_inMenu" />
        <activity android:name=".exercise3.nomal.ex3_normal_game_st"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".exercise3.st_hard.st_ex3_hard_menu" />
        <activity android:name=".exercise3.st_hard.grid_view_ex3_st_hard_selectWord" />
        <activity android:name=".exercise3.st_hard.st_ex3_hard_inMenu" />
        <activity android:name=".exercise3.hard.ex3_hard_game_st"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".navigationDrawer.F_profile" />
        <activity android:name=".Edit_User_From_Admin.Call_GridAdapter_User" />
        <activity android:name=".Edit_User_From_Admin.GridAdapter_User_Modifiled" />
        <activity android:name=".exercise3.exercise3_menu"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Meaning" />
        <activity android:name=".Add_Word"/>
        <activity android:name=".Add_Sentence" />
        <activity android:name=".My_Score.My_Score_main_3"/>
        <activity android:name=".My_Score.My_Score_main_4"/>
        <activity android:name=".My_Score.My_Score_main_5"/>
        <activity android:name=".Edit_User_From_Admin.Admin_score_exercise3" />
        <activity android:name=".Edit_User_From_Admin.Admin_score_exercise4" />
        <activity android:name=".Edit_User_From_Admin.Admin_score_exercise5" />
        <activity android:name=".exercise2.exercise2_game" />
        <activity android:name=".exercise2.exercise2_menu" />
        <activity android:name=".exercise2.st_exercise2_menu" />
        <activity android:name=".exercise2.gridview_ex2_select_char" />
        <activity android:name=".exercise2.main_select_image" />
        <activity android:name=".exercise2.ex2_game_st" />
        <activity android:name=".My_Score.My_Score_main_2" />
        <activity android:name=".navigationDrawer.F_setting" />
        <activity android:name=".Export_Import.Export_menu" />
        <activity android:name=".Export_Import.Export_ex2" />
        <activity android:name=".Export_Import.Export_ex3" />
        <activity android:name=".Export_Import.Export_ex4" />
        <activity android:name=".Export_Import.Export_ex5" />
        <activity android:name=".Export_Import.Import_db" />
        <activity android:name=".navigationDrawer.F_data" />
        <activity android:name=".navigationDrawer.F_Sentence_data" />
        <activity android:name=".navigationDrawer.F_Word_data" />
        <activity android:name=".exercise3.st_easy.st_ex3_easy_update" />
        <activity android:name=".exercise3.st_nomal.st_ex3_normal_update" />
        <activity android:name=".exercise3.st_hard.st_ex3_hard_update" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.projectld.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>